<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SignInfoMapper">

    <sql id="Base_Column_List">
        id,name,start,overtime,state,role,username
    </sql>


    <select id="selectStudent" resultType="com.example.entity.SignInfo">
        select signinfo.*,classes.name as className
        from signinfo
        left join classes on classes.id = signinfo.class_id
        <where>
            signinfo.studentname=#{params.studentName}
            <if test="params.name != null and params.name != ''"> and signinfo.name like concat('%',#{params.name},'%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectTeacher" resultType="com.example.entity.SignInfo">
        select signinfo.*,classes.name as className
        from signinfo
        left join classes on classes.id = signinfo.class_id
        <where>
            signinfo.class_id =#{params.classId}
            <if test="params.name != null and params.name != ''"> and signinfo.name like concat('%',#{params.name},'%')</if>
            <if test="params.name2 != null and params.name2 != ''"> and signinfo.studentname like concat('%',#{params.name2},'%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectTeacher1" resultType="com.example.entity.SignInfo">
        select signinfo.*,classes.name as className
        from signinfo
        left join classes on classes.id = signinfo.class_id
        <where>
            signinfo.role = #{params.role} and
            signinfo.username = #{params.username}
            <if test="params.name != null and params.name != ''"> and signinfo.name like concat('%',#{params.name},'%')</if>
            <if test="params.name2 != null and params.name2 != ''"> and signinfo.studentname like concat('%',#{params.name2},'%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectAll2" resultType="com.example.entity.SignInfo">
        select signinfo.*,classes.name as className
        from signinfo
                 left join classes on signinfo.class_id = classes.id
        <where>
            <if test="name != null and name != ''"> and signinfo.name like concat('%',#{name},'%')</if>
            <if test="name2 != null and name2 != ''"> and signinfo.studentname like concat('%',#{name2},'%')</if>
            <if test="classNameP != null and classNameP != ''"> and classes.name like concat('%',#{classNameP},'%')</if>
        </where>
    </select>

    <select id="selectTeacher2" resultType="com.example.entity.SignInfo">
        select signinfo.*,classes.name as className
        from signinfo
        left join classes on signinfo.class_id = classes.id
        <where>
            signinfo.class_id =#{classId}
            <if test="name != null and name != ''"> and signinfo.name like concat('%',#{name},'%')</if>
            <if test="name2 != null and name2 != ''"> and signinfo.studentname like concat('%',#{name2},'%')</if>
        </where>
    </select>

    <select id="selectTeacher11" resultType="com.example.entity.SignInfo">
        select signinfo.*,classes.name as className
        from signinfo
        left join classes on signinfo.class_id = classes.id
        <where>
            signinfo.role =#{role} and
            signinfo.username =#{username}
            <if test="name != null and name != ''"> and signinfo.name like concat('%',#{name},'%')</if>
            <if test="name2 != null and name2 != ''"> and signinfo.studentname like concat('%',#{name2},'%')</if>
        </where>
    </select>

    <select id="selectAll" resultType="com.example.entity.SignInfo">
        select signinfo.*,classes.name as className
        from signinfo
        left join classes on classes.id = signinfo.class_id
        <where>
            <if test="params.name != null and params.name != ''"> and signinfo.name like concat('%',#{params.name},'%')</if>
            <if test="params.name2 != null and params.name2 != ''"> and signinfo.studentname like concat('%',#{params.name2},'%')</if>
            <if test="params.classNameP != null and params.classNameP != ''"> and classes.name like concat('%',#{params.classNameP},'%')</if>

        </where>
        order by id desc
    </select>

    <select id="selectSignInfo" resultType="com.example.entity.SignInfo">
        select *
        from signinfo
        <where>
            <if test="params.name != null and params.name != ''"> and signinfo.name like concat('%',#{params.name},'%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.SignInfo">
        select
        <include refid="Base_Column_List" />
        from signinfo
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from signinfo
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.SignInfo" useGeneratedKeys="true">
        insert into signinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="start != null">start,</if>
                <if test="overtime != null">overtime,</if>
                <if test="state != null">state,</if>
                <if test="username != null">username,</if>
                <if test="role != null">role,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="name != null">#{name},</if>
                <if test="start != null">#{start},</if>
                <if test="overtime != null">#{overtime},</if>
                <if test="state != null">#{state},</if>
                <if test="username != null">#{username},</if>
                <if test="role != null">#{role},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.SignInfo">
        update signInfo
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="start != null">
                start = #{start},
            </if>
            <if test="overtime != null">
                start = #{overtime},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="total != null">
                total = #{total},
            </if>

        </set>
        where id = #{id}
    </update>



    <update id="updateClassId">
        UPDATE signinfo
        SET class_id = (
            select student.class_id
            from student
            where student.name = signinfo.studentname
        )
        WHERE EXISTS (
                      select student.class_id
                      from student
                      where student.name = signinfo.studentname
                  )
    </update>

    <update id="updateState">
        UPDATE signinfo
        SET class_id = (
            select student.class_id
            from student
            where student.name = signinfo.studentname
        )
        WHERE EXISTS (
                      select student.class_id
                      from student
                      where student.name = signinfo.studentname
                  )
    </update>



</mapper>